#code.active > td{
  background-color: #dff0d8;
}

#crime.active > td{
  background-color: #d9edf7;
}

#world.active > td{
  background-color: #f5eec9;
}

#pancake.active > td{
  background-color: #f2dede;
}

#russia.active > td{
  background-color: #e4cef2;
}


#graph {
    padding: 50px;
}
